<nav *ngIf="!deleteConfirm"  class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
   <div class="col-lg-10">
      <a class="navbar-brand text-primary" routerLink="/dashboard">
        <i class="fa-solid fa-building-columns"></i>
        &nbsp;


        <span >Online Bank App</span>
      
       </a>
   </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" data-bs-toggle="offcanvas" href="#offcanvasDeposite">Deposite (own account) </a></li>
            
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Fund transfer</a></li>
            <li><a class="dropdown-item"  (click)="getBalance()" data-bs-toggle="offcanvas" href="#offcanvasExample" >Balance Enquiry</a></li>
            <li><a class="dropdown-item" routerLink="/transactions">Ministatement</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item btn "  (click)="deleteAccountFromNavBar()"   ><i class="fa fa-solid fa-trash"></i> My account</a></li>
            <li><a class="dropdown-item btn" (click)="logout()"><i class="fa-solid fa-right-from-bracket"> </i> Sign out </a></li>
          </ul>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>

<!-- child selector-->
<app-delete-confirm  (onDelete)="onDelete($event)"  (onCancel)="onCancel()" [item]="acno"></app-delete-confirm>

<!--delete Spinner-->

<div *ngIf="deleteSpinnerDiv" class="container mt-5">
  <div class=" text-center">
    <img class="logout" src="https://media.tenor.com/XbZgGTrIJD0AAAAC/logging-out.gif" alt="logout spinner ">
    <p><b>Please wait While deleting your account</b> </p>

  </div>
</div>

<!--logout spinner-->

<div *ngIf="logoutDiv" class="container mt-5">
  <div class=" text-center">
    <img class="logout" src="https://media.tenor.com/XbZgGTrIJD0AAAAC/logging-out.gif" alt="logout spinner ">
    <p><b>Please wait loging out</b> </p>

  </div>
</div>


<!--dashboard design -->

<div  *ngIf="!logoutDiv" class="container">
  <div *ngIf="!deleteConfirm"  class="row" >
    <div class="col-md-4">
      <h1 style="margin-top: 100px;">Welcome {{user}}</h1>
      <label  class="mt-2" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam autem earum accusantium
         assumenda quo maxime eos illo vitae officiis sapiente laborum neque suscipit illum necessitatibus, commodi iusto est pariatur ipsum.
      </label>

      <div style="text-align: justify;" class="collapse" id="collapseExample">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Minus, ea ex deserunt delectus natus aspernatur consequuntur, maxime labore animi distinctio pariatur itaque?
         Labore nesciunt at animi laborum accusamus, iusto porro.
      </div>
      <button (click)="collapse()" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
       Read <span *ngIf="isCollapse">More</span>
       <span *ngIf="!isCollapse">Less</span>
      </button>


      
      
    </div>
    <div class="col-md-8"></div>
  </div>

</div>


<!--offcanvas - balance enquiry -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Balance Enquiry</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div style="margin-top: 100px;">
     
    <h5>Dear {{user}} ,</h5>
    <label >Your current Account{{currentAcno}}  balance is : <b>{{balance}}</b> </label>
    </div>
    
  </div>
</div>


<!--offcanvas - deposite -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDeposite" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Deposite form</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div style="margin-top: 100px;">
     
    <h5>Dear {{user}} , you can enter the amount to deposite in your account </h5>

    <form (ngSubmit)="deposit()" [formGroup]="depositeForm" class="mt-4 border p-2">

      <div><input name="amount" formControlName="amount" type="text" class="form-control" 
        placeholder="Enter Amount"></div>

        <!--Invalid amounct-->

        <div *ngIf="this.depositeForm.get('amount')?.errors&&this.depositeForm.get('amount')?.touched" 
        class="text-danger mb-2">

          Invalid  Amount  </div>
        
        <div class="text-danger">{{depositMsg}}</div>
      
      <button (click)="showconfetti($event.target)" class="btn btn-primary mt-2">Deposite</button>
    </form>
  
    </div>
    
  </div>
</div>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Fund Transfer</h1>
        <button type="button" (click)="cleareFundTransferForm()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div class="col-5 mt-5">
          <form    [formGroup]="fundTransferForm" >
              <div>
                  <div  >
                      <input name="toAcno" formControlName="toAcno"  placeholder="Credit Account Number" class="form-control" type="text">
                  </div>
  
                  <!--invalid-->
              <div *ngIf="this.fundTransferForm.get('toAcno')?.errors&&this.fundTransferForm.get('toAcno')?.touched" class="text-danger mb-2">
  
                  Invalid account Number   </div>
  
                  <div class="mt-3">
                      <input name="pswd" formControlName="pswd" type="password" placeholder="password" class="form-control">
                  </div>
  
                      <!--invalid Password-->
              <div *ngIf="this.fundTransferForm.get('pswd')?.errors&&this.fundTransferForm.get('pswd')?.touched" class="text-danger mb-2">
  
                  Invalid  Password   </div>

                  <div class="mt-3">
                    <input name="amount" formControlName="amount"  placeholder="Amount" class="form-control" type="text">
                </div>
                <!--Invalid amount-->

                <div *ngIf="this.fundTransferForm.get('amount')?.errors&&this.fundTransferForm.get('amount')?.touched" class="text-danger mb-2">
  
                  Invalid  Amount   </div>
  
                  <!--errorMsg-->
                  <!-- <div class="text-danger">{{errorMsg}}</div>
  
  
                  <div class="mt-4">
                      <button   type="submit" class="btn btn-primary">
                          Login
                          <span *ngIf="successMsg" class="spinner-border text-dark" role="status">
                              <span class="visually-hidden">Loading...</span>
                          </span>
                        </button>
                        &nbsp;
                        <span>
                          New User ? Click Here to <a routerLink="/register"> register</a>
                        </span>
                  </div> -->
  
              </div>
          </form>
      </div>

      <!--fundtransferSuccessMsg-->

      <div class="text-success">
        {{fundtransferSuccessMsg}}
      </div>

      <!--fundtransferSuccessMsg-->

      <div class="text-danger">{{fundtransferErrorMsg}}</div>


        
        
      </div>
      <div class="modal-footer">
        <button type="button" (click)="cleareFundTransferForm()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="trasnfer()" class="btn btn-primary">Transfer</button>
      </div>
    </div>
  </div>
</div>